/**
 * 01. Colors
 * 02. Spacing
 */


// 01. Colors
$color-map: (
	primary     : $primary-color,
	secondary   : $secondary-color,
	light-gray  : $light-gray,
	medium-gray : $medium-gray,
	dark-gray   : $dark-gray,
	black       : $black,
	white       : $white
);

@each $label, $hex in $color-map {
	.background-#{$label} {
		background-color: $hex;
	}

	.color-#{$label} {
		color: $hex;
	}

	.links-#{$label} a {
		color: $hex;
	}
}


// 02. Spacing
$directions: (
	top,
	right,
	bottom,
	left
);

$spacing-sizes: (
	none  : 0,
	small : 1rem,
	large : 4rem
);

@mixin spacing-layout( $property ) {
	@each $direction in $directions {
    .#{$property}-#{$direction} {
			#{$property}-#{$direction}: 2rem;
		}

		@each $type, $size in $spacing-sizes {
			.#{$property}-#{$direction}-#{$type} {
				#{$property}-#{$direction}: $size;
			}
		}
	}

  .#{$property}-all {
    #{$property}: 2rem;
  }

  @each $type, $size in $spacing-sizes {
    .#{$property}-all-#{$type} {
      #{$property}: $size;
    }
  }
}

@include spacing-layout( 'padding' );
@include spacing-layout( 'margin' );